<form name="newsletter" method="POST" data-netlify="true" netlify-honeypot="bot-field" class="flex-ns mb3">
  <!-- Hidden anti-bot field -->
  <input type="hidden" name="form-name" value="newsletter" />
  <p class="dn">
    <label>Don’t fill this out if you’re human: <input name="bot-field" /></label>
  </p>

  <!-- Email input -->
  <fieldset class="flex-auto mb2 mb0-ns mr2-ns">
    <input type="email" id="email" name="email" placeholder="Your email" class="w-100" required>
    <label for="email">Your email</label>
  </fieldset>

  <!-- Submit -->
  <button class="btn mb3 w-100 w-auto-ns mb0-ns raise" type="submit">Subscribe</button>
</form>
