[submodule "site/themes/PaperMod"]
	path = site/themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "site/themes/Ananke"]
	path = site/themes/Ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
